:root {
  --green: #5f8526;
  --brown: #83503f;
  --gray: #c5ceb2;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #2c2c2c;
}
main {
  padding: 0 16px;
}
main > img {
  display: block;
  margin: 16px auto;
}
h1 {
  font-size: 2rem;
  position: relative;
}
h1 > a {
  position: absolute;
  top: -1rem;
}
h1,
h2,
h3 {
  color: var(--brown);
}
a {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  font-size: x-large;
  padding: 6px 16px;
  top: 0;
  border-bottom: 1px solid var(--gray);
}
header img {
  height: 70px;
  box-shadow: none;
}
header a {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brown);
}
nav {
  font-size: x-large;
  color: var(--brown);
}
nav li {
  padding: 16px;
  border-bottom: 1px solid var(--gray);
}
nav a {
  color: var(--brown);
}
hr {
  border-top: 1px solid var(--green);
  margin: 24px;
}

img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
ul {
  list-style: none;
  padding: 0px;
}
ul li {
  margin: 16px;
}
ul.checked {
  padding-left: 16px;
}
ul.checked li::before {
  font-family: "FontAwesome";
  content: "\f058";
  margin: 0 0.5em 0 -1.5em;
  color: var(--green);
}
.header-title {
  margin: auto;
}
.menu-button {
  font-size: xx-large;
}
.menu-button:hover {
  text-decoration: none;
}
#mobile-menu {
  display: none;
  z-index: 2;
}
img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
img.footer {
  width: 70%;
  max-width: 250px;
  padding: 16px;
}
.image-container {
  position: relative;
  padding-bottom: 5px;
  max-width: 500px;
}
.image-container-small {
  position: relative;
  padding-bottom: 5px;
  max-width: 300px;
}
.image-text {
  position: absolute;
  background-color: black;
  color: white;
  padding: 8px 10px;
  opacity: 0.7;
  font-size: small;
  top: 5px;
  left: 5px;
}
.open {
  background-color: green;
}
.card {
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  border: thin solid var(--gray);
  border-radius: 6px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
.card i {
  margin-left: 8px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border: thin solid var(--gray);
  border-radius: 6px;
  padding: 16px;
}
.contact-card {
  font-size: 1.5rem;
}
.contact-card a {
  margin: 0 12px;
}
.contact-icons {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icons a {
  margin-left: 24px;
}
button {
  border: none;
  padding: 8px;
  color: white;
  background-color: var(--green);
  cursor: pointer;
  width: 50%;
  border-radius: 6px;
}
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
footer {
  padding: 0 16px;
  text-align: center;
  color: var(--green);
}
footer img {
  margin-bottom: 8px;
  box-shadow: none;
}

::selection {
  background: var(--green);
  color: white;
}
::-moz-selection {
  background: var(--green);
  color: white;
}

/* ==== TABLES ==== */

table {
    border-collapse:separate;
    border:solid var(--gray) thin;
    border-radius:6px;
}

td, th {
    border-left:solid var(--gray) thin;
    border-top:solid var(--gray) thin;
}

th {
    /* background-color: blue; */
    color: var(--green);
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

