:root {
    --green: #5f8526;
    --brown: #83503f;
    --gray: #c5ceb2;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #2c2c2c;
}
h1 {
    font-size: 2rem;
    position: relative;
}
h1 > a {
    position: absolute;
    top: -1rem;
}
h1,h2,h3 {
    color: var(--brown)
}
a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.anchor {
    display: block;
    position: relative;
    top: -50px;
}
header {
    display: flex;
    font-size: x-large;
    padding: 6px 16px;
    top: 0;
    border-bottom: 1px solid var(--gray)
}
header img {
    height: 70px;
}
header a {
    color: var(--brown);
}
nav {
    font-size: x-large;
    color: var(--brown)
}
nav li {
    padding: 16px;
    border-bottom: 1px solid var(--gray)
}
nav a {
    color: var(--brown);
}
main {
    padding: 16px;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 16px;
}
.header-title {
    margin: auto;
}
.menu-button:hover {
    text-decoration: none;
}
#mobile-menu {
    display: none;
}
img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
img.footer {
    width: 70%;
    max-width: 250px;
    padding: 16px;
}






.card {
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
}
button {
    border: none;
    padding: 8px;
    color: white;
    background-color: var(--green);
    cursor: pointer;
    width: 50%;
}
footer {
    text-align: center;
}

::selection {
    background: var(--green);
    color: white;
  }
::-moz-selection {
    background: var(--green);
    color: white;
}